settings.py
__pycache__
log/
logs/
.vagrant
*.lock
.DS_store
.profile
.psql_history
.viminfo
.cache
.distlib
.bash_history
python3_env
.ipython
.pip
.selected_editor
*.xml
.idea
setup-py3-vagrant.sh
*.pyc
*.bak
.vscode/